[submodule "distribution/arch/aur-nexoid-fat-cpp"]
	path = distribution/arch/aur-nexoid-fat-cpp
	url = https://github.com/hurufu/aur-nexoid-fat-cpp.git
[submodule "distribution/arch/aur-nexoid-nexui-flask-systemd"]
	path = distribution/arch/aur-nexoid-nexui-flask-systemd
	url = https://github.com/hurufu/aur-nexoid-nexui-flask-systemd.git
[submodule "distribution/arch/aur-nexoid-nexui-flask"]
	path = distribution/arch/aur-nexoid-nexui-flask
	url = https://github.com/hurufu/aur-nexoid-nexui-flask.git
[submodule "distribution/arch/aur-drakon-editor"]
	path = distribution/arch/aur-drakon-editor
	url = https://github.com/hurufu/aur-drakon-editor.git
[submodule "experiments/nexoid-tc-phenesthe"]
	path = experiments/nexoid-tc-phenesthe
	url = https://github.com/hurufu/nexoid-tc-phenesthe.git
[submodule "webdemo/nexoid-nexui-flask"]
	path = nexoid-nexui-flask
	url = https://github.com/hurufu/nexoid-nexui-flask.git
[submodule "dependencies/drakon-editor"]
	path = dependencies/drakon-editor
	url = https://github.com/hurufu/drakon-editor.git
[submodule "nexoid-fat-cpp"]
	path = nexoid-fat-cpp
	url = https://github.com/hurufu/nexoid-fat-cpp.git
[submodule "tools/nexoid-visual-caaa"]
	path = tools/nexoid-visual-caaa
	url = https://github.com/hurufu/nexoid-visual-caaa.git
[submodule "dependencies/esnacc-ng"]
	path = dependencies/esnacc-ng
	url = https://github.com/esnacc/esnacc-ng.git
[submodule "dependencies/asn1tools"]
	path = dependencies/asn1tools
	url = git@github.com:hurufu/asn1tools.git
[submodule "distribution/arch/python-asn1tools"]
	path = distribution/arch/python-asn1tools
	url = https://aur.archlinux.org/python-asn1tools.git
[submodule "distribution/arch/python-pynng-git"]
	path = distribution/arch/python-pynng-git
	url = https://aur.archlinux.org/python-pynng-git.git
[submodule "distribution/arch/python-timebudget-git"]
	path = distribution/arch/python-timebudget-git
	url = https://aur.archlinux.org/python-timebudget-git.git
[submodule "distribution/arch/libsocket-git"]
	path = distribution/arch/libsocket-git
	url = https://aur.archlinux.org/libsocket-git.git
[submodule "distribution/arch/libptmalloc3"]
	path = distribution/arch/libptmalloc3
	url = https://aur.archlinux.org/libptmalloc3.git
[submodule "experiments/nexoid-ed-ada"]
	path = experiments/nexoid-ed-ada
	url = https://github.com/hurufu/nexoid-ed-ada.git
[submodule "tools/nexoid-card-simulator"]
	path = tools/nexoid-card-simulator
	url = https://github.com/hurufu/nexoid-card-simulator.git
[submodule "nexoid-scapp-c"]
	path = nexoid-scapp-c
	url = https://github.com/hurufu/nexoid-scapp-c.git
[submodule "nexoid-ed"]
	path = nexoid-ed
	url = https://github.com/hurufu/nexoid-ed.git
[submodule "nexoid-protocol-collection"]
	path = nexoid-protocol-collection
	url = https://github.com/hurufu/nexoid-protocol-collection.git
